{% extends 'base.html' %}
{% load static %}
{% block title %}Crofarm{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
<div class="full-bg-cover" style="background-image:url('{% static "images/croform-cover.jpg" %}')">
        <div class="bg-overlay croform-gr"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="porfolio-left-content">
                        <h1>Crofarm</h1>
                        <h4 class="robo">Technology enabled B2B marketplace for fresh foods.</h4>
                        <p>Crofarm is a technology enabled B2B agricultural supply chain for fruits and vegetables, from farmers to businesses like
                            retailers, wholesalers, restaurants etc. By leveraging its proprietary tools for supply chain management and logistics
                            optimization, Crofarm is able to bring down the wastage of produce to 5%, as opposed to 50% wastage prevalent in traditional
                            supply chains. </p>
                        <h5 class="medium">For More Info</h5>
                        <h5 class="theme robo">
                            <a href="http://crofarm.com/" class="theme" target="_blank">crofarm.com</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="founder-section">
                        <h4 class=" robo">FOUNDERS</h4>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a href="https://in.linkedin.com/in/varunkhurana" target="_blank">
                                    <img src="{% static "images/varun.jpg" %}" width="120px" height="120px">
                                    <p class="">Varun Khurana</p>
                                </a>
                            </div>
                            <div class="col-md-6 text-center">
                                <a href="https://in.linkedin.com/in/prashant-jain-40714619" target="_blank">
                                    <img src="{% static "images/prashant.jpg" %}" width="120px" height="120px">
                                    <p class="">Prashant Jain</p>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".hamb").click(function () {
            $(this).toggleClass("active");
            $(".menu-overlay").toggleClass("active");
        })
    </script>
{% endblock %}
