{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
</head>
<body>
    <nav class="text-center">
        <a href="{% url 'index' %}" class="top-menu"><img src="{% static "images/logo.svg" %}" alt=""></a>
    </nav>

    <form method="POST" action="{% url 'forgot_email' %}">
        <div class="login-wrapper">
            <h4>Forgot Password</h4>
            <div class="input-form">
              {% csrf_token %}
                <input type="text" placeholder="Email" name="email" required="required">
                <i class="material-icons">email</i>
            </div>
            <button class="login-btn">Forgot Password</button>
            <div class="forgot-password"><a href="/login" class="forgot-password">Login?</a></div>
        </div></br>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger" style="width: 60%; margin-left: 20%;">
                  <center>{{ error|escape }}</center>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger" style="width: 60%; margin-left: 20%;">
              <center>{{ error|escape }}</center>
            </div>
          {% endfor %}
        {% endif %}
    </form>
</body>
</html>
