{% extends 'base.html' %}
{% load static %}
{% block title %}Fyle{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
<div class="full-bg-cover" style="background-image:url('{% static "images/fyle.jpg" %}')">
    <div class="bg-overlay fyle-gr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="porfolio-left-content">
                    <h1>Fyle</h1>
                <h4 class="robo">Artificial Intelligence and Machine Learning based travel and employee expense management platform.</h4>
                <p>Fyle is an AI/ML powered travel and employee expense management and automation platform. It allows employees to automatically
                    capture information from receipts, create reports and ensure business policy compliance. It reduces dependancies on manual
                    data entry by offering a 1-click expense claim experience to employees through its email plugins and mobile app.</p>
                <p>It provides a company’s finance department a real time visibility into employee related expenses. The result is a drastically
                    lower turnaround time for reimbursements, accurate reports and audit-ready expense accounts. </p>
                    <h5 class="medium">For More Info</h5>
                    <h5 class="theme robo">
                        <a href="//www.fylehq.com" class="theme" target="_blank">fylehq</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="founder-section">
                    <h4 class=" robo">FOUNDERS</h4>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <a href="https://in.linkedin.com/in/sivaramakrishnannarayanan" target="_blank">
                                <img src="{% static "images/siva.jpg" %}" width="120px" height="120px">
                                <p class="">Sivaramakrishnan Narayanan</p>
                            </a>

                        </div>
                        <div class="col-md-6 text-center">
                            <a href="https://in.linkedin.com/in/yashwanthm" target="_blank">
                                <img src="{% static "images/yash.jpg" %}" width="120px" height="120px">
                                <p class="">Yashwanth Madhusudan</p>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="back-img pad-left portfolio-cover" style="background-image:url(../static/images/fyle.jpg)">
    <div class="bg-overlay fyle "></div>
    <h2>Fyle</h2>
</div>
<div class="portfolio-section">
    <div class="container">
        <div class="col-md-8">
            <h4 class="robo">A SMART, EFFICIENT, ACCOUNTABLE WASTE-TO-RESOURCE NETWORK</h4>
            <p>Fyle is an AI/ML powered travel and employee expense management and automation platform. It allows employees to automatically capture information from receipts, create reports and ensure business policy compliance. It reduces dependancies on manual data entry by offering a 1-click expense claim experience to employees through its email plugins and mobile app.</p>
            <p>It provides a company’s finance department a real time visibility into employee related expenses. The result is a drastically lower turnaround time for reimbursements, accurate reports and audit-ready expense accounts.     </p>
        </div>
        <div class="col-md-4">
            <h4 class=" robo">FOUNDERS</h4>
            <div class="col-md-6">
                 <img src="../static/images/anitha.jpg" width="120px" height="120px">
                 <p class="">Anitha Saxena</p>
            </div>
            <div class="col-md-6">
                    <img src="../static/images/ashish.jpg" width="120px" height="120px">
                    <p class="">Ashish Malayil</p>
            </div>
        </div>
        <div class="col-md-12">
            <h3 class="medium">For More Info</h3>
            <h4 class="theme robo"><a ref="gmail.com" target="_blank">http://citizengage.co/</a></h4>
        </div>
    </div>
</div> -->

<!--ended-->
{% endblock %}

{% block script %}
<script>
    $(".hamb").click(function () {
        $(this).toggleClass("active");
        $(".menu-overlay").toggleClass("active");
    })

</script>
{% endblock %}
