{% extends 'base.html' %}
{% load static %}
{% block title %}Greyatom{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
   <div class="full-bg-cover" style="background-image:url('{% static "images/greyatom.jpg" %}')">
        <div class="bg-overlay greyatom-gr"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="porfolio-left-content">
                        <h1>Greyatom</h1>
                        <h4 class="robo">Skilling & learning platform for upcoming technologies.</h4>
                        <p>GreyAtom aims to impart a Practice based education to Data Science enthusiasts by combining workplace realities, real world
                        data and industry relevant technology stack. They are working to solve the problem of acquiring high quality engineering
                        talent in India. Their programs are developed by a mix of industry professionals, subject matter experts and academicians.
                        GreyAtom’s training platform Commit.live helps their students build their profile on relevant global platforms like GitHub,
                        StackOverflow, Tech Blog and prepares them to be industry-ready for all Data Science specific roles..</p>
                        <h5 class="medium">For More Info</h5>
                        <h5 class="theme robo">
                            <a href="http://www.greyatom.com/" class="theme" target="_blank">greyatom.com</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="founder-section">
                        <h4 class=" robo">FOUNDERS</h4>
                        <div class="row">
                            <div class="col-md-6 text-center">
                              <a href="https://www.linkedin.com/in/mayureshshilotri/" target="_blank">
                                <img src="{% static "images/mayu.jpg" %}" width="120px" height="120px">
                                <p class="">Mayuresh Shiltori</p>
                              </a>
                            </div>
                            <div class="col-md-6 text-center">
                              <a href="https://www.linkedin.com/in/mitulthakkar/" target="_blank">
                                <img src="{% static "images/mitu.jpg" %}" width="120px" height="120px">
                                <p class="">Mitul Thakkar</p>
                              </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                              <a href="https://www.linkedin.com/in/shweta-doshi/" target="_blank">
                                <img src="{% static "images/shweta.jpg" %}" width="120px" height="120px">
                                <p class="">Shweta Doshi</p>
                              </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
