{% extends 'base.html' %}
{% load static %}
{% block title %}Ikarus{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
    <div class="full-bg-cover" style="background-image:url('{% static "images/ikarus.jpg" %}')">
        <div class="bg-overlay ikarus-gr"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="porfolio-left-content">
                        <h1>Ikarus</h1>
                        <h4 class="robo"> Enterprise Robotic Process Automation Platform.</h4>
                        <p>Ikarus is a Cognitive Process Automation framework to automate manual repetitive Enterprise processes. It leverages advanced
                            Machine Learning algorithms to decipher unstructured text documents like invoices, forms, contracts and emails. It automates
                            manual and time consuming processes like data extraction, data entry, report generation and form filling. It offers high
                            accuracy and significant savings in cost and time. This platform has wide applications in domains like BFSI, Healthcare,
                            Publishing, Customer Service, and HR. </p>
                        <h5 class="medium">For More Info</h5>
                        <h5 class="theme robo">
                            <a href="https://www.ikarus.ai/" class="theme" target="_blank">ikarus.ai</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="founder-section">
                        <h4 class=" robo">FOUNDERS</h4>
                        <div class="row">
                            <div class="col-md-6 text-center">
                              <a href="https://www.linkedin.com/in/rohit49/" target="_blank">
                                <img src="{% static "images/ballu1.jpg" %}" width="120px" height="120px">
                                <p class="">Rohit Agarwal</p>
                              </a>
                            </div>
                            <div class="col-md-6 text-center">
                              <a href="https://www.linkedin.com/in/rishi1992/" target="_blank">
                                <img src="{% static "images/ballu2.jpg" %}" width="120px" height="120px">
                                <p class="">Rishi Agarwal</p>
                              </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".hamb").click(function () {
            $(this).toggleClass("active");
            $(".menu-overlay").toggleClass("active");
        })
    </script>
{% endblock %}
