{% extends 'base.html' %}
{% load static %}
{% block title %}Innovaccer{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
    <div class="full-bg-cover" style="background-image:url('{% static "images/innovacer-bg.jpg" %}')">
        <div class="bg-overlay innovacer-gr"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="porfolio-left-content">
                        <h1>Innovacer</h1>
                        <h4 class="robo">Big data analytics platform for US healthcare providers.</h4>
                        <p>Innovacer is a Big Data analytics platform that empowers Healthcare Providers in the US, to provide connected value - based
                        care. The platform integrates data from multiple sources and enables Providers with comprehensive analytics and actionable
                        insights. Its modules include patient engagement, physician engagement, population health studies etc. Innovacer’s analytics
                        feed into the clinical, financials and administrative systems of a Healthcare Provide</p>
                        <h5 class="medium">For More Info</h5>
                        <h5 class="theme robo">
                            <a  href="https://www.innovaccer.com/" class="theme" target="_blank">Innovaccer.com/</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="founder-section">
                        <h4 class=" robo">FOUNDERS</h4>
                        <div class="row">

                            <div class="col-md-6 text-center">
                                <a href="https://www.linkedin.com/in/9sandeepg/" target="_blank">
                                    <img src="{% static "images/SandeepGupta.jpg" %}" width="120px" height="120px">
                                    <p class="">Sandeep Gupta</p>
                                </a>

                            </div>
                            <div class="col-md-6 text-center">
                                <a href="https://www.linkedin.com/in/kanavhasija/" target="_blank">
                                    <img src="{% static "images/kavan.jpg" %}" width="120px" height="120px">
                                    <p class="">Kanav Hasija</p>
                                </a>

                            </div>
                            <div class="col-md-6 text-center">
                                <a href="https://www.linkedin.com/in/abhinavshashank" target="_blank">
                                    <img src="{% static "images/abhinav.jpg" %}" width="120px" height="120px">
                                    <p class="">Abhinav Shashank</p>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".hamb").click(function () {
            $(this).toggleClass("active");
            $(".menu-overlay").toggleClass("active");
        })
    </script>
{% endblock %}
