{% extends 'base.html' %}
{% load static %}
{% block title %}Philosophy{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
<div class="back-img" style="background-image:url('{% static "images/building-bg.jpg" %}')">
    <div class="main-section container">
        <h1 class="header">Our <span class="theme">Philosophy</span></h1>
        <p class="header-content robo phreg">We invest behind exceptional teams, at the concept stage. We love to back teams working on bold transformative technology and disruptive business models, as their first institutional investor</p>
    </div>
    <div class="svg-background">
        <svg width="100%" height="100%" viewBox="0 0 100% 100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
            <title>Group 2</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="-our-team-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, -317.000000)">
                <g id="Group-2" transform="translate(-19.000000, 317.000000)">
                    <polygon id="left-tri" fill-opacity="0.889011549" fill="#F5A623" points="0 164.568668 0 337 669 90"></polygon>
                    <polygon id="right-tri" fill="#202A37" points="208 141.152441 1480 301.181394 1480 0"></polygon>
                    <polygon id="right-bot" fill="#314155" points="1472.6368 287.393533 663 95 1474.71509 138.332179"></polygon>
                </g>
            </g>
        </svg>
    </div>
</div>

<div class="container philo-content">
    <div class="philo-body">
        <h2 class="robo">How we work with you?</h2>
        <p>We are active investors, working with a small number of companies every year, and committing our time to work with the
            founders closely. We bring in operational experience from some of the most respected companies in the world and a
            deep experience in the venture ecosystem, to help founders solve problems and scale fast. We connect you to our network
            of seasoned founders and operators in India and in the Silicon Valley, who can provide invaluable subject matter
            guidance.</p>
    </div>
    <div class="philo-space">
        <h2 class="robo">Consumer Demand</h2>
        <p>Driven by a large young population and their rising income levels, India is emerging as one of the largest consumer markets
            in the world. At the same time, the supply continues to be largely fragmented and unorganised, leading to a shortfall
            in quality and fulfillment. We believe this is an incredible environment to create value and growth through technology
            and business model innovation, and provide quality products and services at mass scale and affordability. We are
            especially interested in marketplace models in areas like retail, fintech, healthcare, logistics etc.</p>
    </div>

    <h1 class="theme-color">Faqs</h1>
    <div class="accordian-list">
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                    What is vcfirm ?
                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 vcfirm was started by Mukul and Rohit in 2016. Both are ex-SAIF Partners where they were leading the early stage strategy.
                    Mukul has rich venture experience and Rohit has strong tech background and so they bring the right experience to the table
                    for any startup that vcfirm backs.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     What is the size of the fund?
                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                vcfirm was started by Mukul and Rohit in 2016. Both are ex-SAIF Partners where they were leading the early stage strategy.
                Mukul has rich venture experience and Rohit has strong tech background and so they bring the right experience to
                the table for any startup that vcfirm backs.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     What stage does vcfirm invest in?
                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                vcfirm was started by Mukul and Rohit in 2016. Both are ex-SAIF Partners where they were leading the early stage strategy.
                Mukul has rich venture experience and Rohit has strong tech background and so they bring the right experience to
                the table for any startup that vcfirm backs.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Are we too early for vcfirm Ventures?
                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                vcfirm was started by Mukul and Rohit in 2016. Both are ex-SAIF Partners where they were leading the early stage strategy.
                Mukul has rich venture experience and Rohit has strong tech background and so they bring the right experience to
                the table for any startup that vcfirm backs.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     If a company has already raised angel round of funding, does it still make sense to talk to vcfirm Ventures?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                vcfirm was started by Mukul and Rohit in 2016. Both are ex-SAIF Partners where they were leading the early stage strategy.
                Mukul has rich venture experience and Rohit has strong tech background and so they bring the right experience to
                the table for any startup that vcfirm backs.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                 What is the sweet spot in terms of ticket size for first investment?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 Our first investment cheque size can be in the range of $250K - $1 Mn, depending on the stage of the company. Sweet spot
                is $500k.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Does vcfirm prefer to lead the rounds?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 Yes, our preference is to lead the round.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Does vcfirm co-invest with other investors?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 We prefer leading the rounds, but are open to investing with co-investors who bring in strategic value to the company
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Does vcfirm follow on, after the first round of investment ?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 Yes, vcfirm does follow on in the subsequent rounds of its portfolio companies.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     What typical dilution does vcfirm aim for?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 We believe that before a formal series A, a company should be diluted in the sub-20% range; and our preference is to be
                the majority external stakeholder during this time.
            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     What sectors does vcfirm focus on?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 vcfirm is a technology focused, sector agnostic fund. We are open to exploring all those sectors where technology and business
                model innovations are leading the value creation. the sector.

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     How does the process for fund-raising function at vcfirm?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 At vcfirm, we are a lean team. We therefore do not have elaborate Investment Committee (IC) meetings. Our due diligence
                process comprises of a series of quick interactions with the founding team, to gather their vision for the company.

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     How long does it take to reach a decision?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 At vcfirm, we aim to reach a decision usually in 4-6 weeks time, depending on our exposure to the market and the team.


            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     What kind of information does a company need to provide, during these discussions?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 These discussions are usually centered around the following :
                 <ul>
                     <li>Long term vision for the company</li>
                     <li>Target market and problem being solved</li>
                     <li>Proposed solution</li>
                     <li>Challenges likely to be faced, and solutions to overcome these</li>
                     <li>Current team structure</li>
                 </ul>



            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                    What do we look for in the company we decide to fund?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 We mainly look for the following :
                 <ul>
                     <li>Vision to create impact</li>
                     <li>Strong technology leverage in the business model</li>
                     <li>Strong founding team</li>
                 </ul>

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Is our discussion confidential? Do we sign an NDA?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 At vcfirm, we conduct all our interactions (formal and informal) with the utmost degree of confidentiality and professional
                integrity. However, given the sheer number of teams (and ideas) that we engage with, it is operationally not feasible for
                us to get into legal NDA contracts with each of them. To allay any concerns, we encourage founders to conduct a reference
                check on our team, among their peer group. And initiate discussions with us only once they are convinced of our track record
                in the industry.

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Is a pitch deck required?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 A pitch deck greatly helps to structure a discussion; but it is not mandatory as some founders are more comfortable narrating
                their stories without it.

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Besides money, how else do we add value to our investments?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 Having spent more than a decade in the industry cumulatively, the team has a very sound understanding of the pitfalls and
                challenges in the early stages of a company, and ways to address them. It is our endeavour to make accessible to our founders,
                a network of subject matter experts from around the globe, to advise on various pressing topics. We also work very closely
                with founders during their initial days, to chalk out the path to attain their vision for the company and operationalise
                it.

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     Do we take Board seats?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
             Yes, vcfirm team prefers to take up a Board seat in the company.

            </div>
        </div>
        <h3 class="robo theme">About Fundraise</h3>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     How is raising seed round from a fund, different from raising capital from angel investors?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 A seed fund is in the business of investing in companies on full time basis, and therefore is able to build systems and
                processes of engagement with its portfolio companies in the long term. On the flip side, since a seed fund usually has a
                team making the investment decision, the timelines involved here could be slightly longer. Since an angel investor is an
                individual investing in their personal capacity, the initial investment decision may be reached sooner. However, they usually
                do not fund companies as their day - job, and hence the engagement model with angels is usually variable, depending on their
                other time commitments. That said, many times, angel investors bring in a strong strategic value to the company, particularly
                if they are from the same industry. We at vcfirm are open to partnering with such co-investors.


            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     What is the right dilution in each of these cases?

                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 There is no ‘right’ answer for this. Institutional money is typically always long term with ability to support in future
                if required. In our view, institutional money should always be prefered to an angel unless the angel brings in strategic
                value and is willing to give some time to the founders. A mix of fund and angel might be ideal with the institution leading.

            </div>
        </div>
        <div class="acco-item">
            <div class="acco-header clearfix">
                <div class="left">
                     How is the fund raise environment at the moment?
                </div>
                <div class="right">
                    <button>
                        <svg width="14px" height="7px" viewBox="0 0 14 7" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="our-philosphy" transform="translate(-882.000000, -1447.000000)" stroke="#343131">
                                    <g id="Group-4" transform="translate(151.000000, 1439.000000)">
                                        <polyline id="Path-22" points="732 8 738.535793 14.7875812 743.969948 8"></polyline>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="acco-body">
                 The fund raise environment for new company creation is quite optimistic. Committed founders with a long term vision are
                not finding it a challenge to engage in serious investor discussions. Various innovative business models are being funded,
                and we at vcfirm are actively looking for attractive investment opportunities.

            </div>
        </div>
    </div>

</div>

<!--ended-->
{% endblock %}

{% block script %}
<script>
    $(".acco-header").click(function(){
        $(".acco-body").slideUp(300);
        if($(this).parent().hasClass('active')) {
            $(this).parent().find(".acco-body").slideUp(300);
            $(this).parent().removeClass('active');

        }
        else {
            $(this).parent().find(".acco-body").slideDown(300);
            $(".acco-item").removeClass('active');
            $(this).parent().addClass('active');
        }
    })

    $(window).scroll(function(){
        var scrollValue = $(this).scrollTop();
        var move = scrollValue/10;
        var rotate = scrollValue/-5;
        $("#left-tri").css({
            "transform":"translate3d(0,"+move+"px,0)"
        })
        $("#right-tri").css({
            "transform": "translate3d(0," + rotate + "px,0)"
        })

    })
    $(".hamb").click(function () {
            $(this).toggleClass("active");
            $(".menu-overlay").toggleClass("active");
        })
</script>
{% endblock %}
