{% extends 'base.html' %}
{% load static %}
{% block title %}Property Share{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
<div class="full-bg-cover" style="background-image:url('{% static "images/property-share.jpg" %}')">
        <div class="bg-overlay propertyshare-gr"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="porfolio-left-content">
                        <h1>Property Share</h1>
                        <h4 class="robo">Crowd-funding investment and trading platform in the real estate asset class.</h4>
                        <p>PropertyShare is crowd-funding investment and trading platform in the real estate asset class. It allows multiple retail
                            investors to start with small investment ticket sizes and purchase fractional ownership stakes in residential and commercial
                            properties. Fractional owners receive rental income and capital appreciation gains in proportion to their respective
                            ownership stakes. The platform carries detailed property related information including pricing, location, developer,
                            and legal diligence reports to aide the investors’ decision making. Given the small entry ticket sizes possible on the
                            platform, an investor can diversify her portfolio by investing in a variety of properties.</p>
                        <h5 class="theme robo">
                            <a href="https://www.propertyshare.in/" class="theme" target="_blank">Propertyshare.in</a>
                        </h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="founder-section">
                        <h4 class=" robo">FOUNDERS</h4>
                        <div class="row">
                            <div class="col-md-6 text-center">
                              <a href="https://in.linkedin.com/in/kmoktan" target="_blank">
                                <img src="{% static "images/kunalm.jpg" %}" width="120px" height="120px">
                                <p class="">Kunal Moktan</p>
                              </a>
                            </div>
                            <div class="col-md-6 text-center">
                              <a href="https://www.linkedin.com/in/hashimkhan/" target="_blank">
                                <img src="{% static "images/hashimk.jpg" %}" width="120px" height="120px">
                                <p class="">Hashim Khan</p>
                              </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".hamb").click(function () {
            $(this).toggleClass("active");
            $(".menu-overlay").toggleClass("active");
        })
    </script>
{% endblock %}
