{% extends 'base.html' %}
{% load static %}
{% block title %}WorkEx{% endblock %}
{% block css %}<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">{% endblock %}
{% block content %}
<div class="full-bg-cover" style="background-image:url('{% static "images/workex_team_photo.jpg" %}')">
    <div class="bg-overlay workex-gr"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="porfolio-left-content">
                    <h1>WorkEx</h1>
                    <h4 class="robo">WorkEx is a digital human resources platform for fast hiring of the low income workforce. </h4>
                    <p>Smart algorithms and proprietary scoring models enable right matching of verified candidate profiles to job profiles, thereby reducing turn-around-times involved in closing positions.
                      Jobs happen on Workex. Hiring happens on Workex.
                      Home to > 75K Bengaluru job seekers & 5000+ jobs across 19 categories. More than 1500+ job seekers have found their first lucky break though Workex.
                      Every day, about a thousand recruiters logon to Workex, to discover talent. Within hours, a few thousand job seekers are shortlisted and by the end of the day, a few hundred interviews happen.
                      Before closing of business, scores of offer letters are rolled out, to happy job seekers. Everyone sleeps soundly.</p>
                    <h5 class="medium">For More Info</h5>
                    <h5 class="theme robo">
                        <a href="https://workex.xyz" class="theme" target="_blank">workex.xyz</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-3">
                <div class="founder-section">
                    <h4 class=" robo">FOUNDERS</h4>
                    <div class="row">
                        <div class="col-md-6 text-center">
                          <a href="https://www.linkedin.com/in/chirag87/" target="_blank">
                                <img src="{% static "images/chirag-1.jpg" %}" width="120px" height="120px">
                                <p class="">Chirag Mittal</p>
                          </a>
                        </div>
                        <div class="col-md-6 text-center">
                          <a href="https://www.linkedin.com/in/nimish-sharma-28a0085/" target="_blank">
                                <img src="{% static "images/nimish-1.jpg" %}" width="120px" height="120px">
                                <p class=""> Nimish Sharma</p>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
     $(".hamb").click(function () {
            $(this).toggleClass("active");
            $(".menu-overlay").toggleClass("active");
        })

</script>
{% endblock %}
